* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  font-family: "Overpass", sans-serif;
}

:focus {
  outline: none;
}

html,
body {
  background-color: rosybrown;
}

.container {
  max-width: 950px;
  margin: auto;
  text-align: center;
  align-items: center;
}

section {
  margin-top: 50px;
}

input {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  /* border: none; */
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

input:hover,
button:hover {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

input:focus,
button:focus {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

label,
button {
  color: white;
  font-weight: bold;
}
button {
  background-color: blueviolet;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

button:focus {
  background-color: purple;
}

iframe {
  border-radius: 10px;
}
