* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  font-family: "Overpass", sans-serif;
}

:focus {
  outline: none;
}

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rosybrown;
}

.container {
  max-width: 950px;
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px;

  gap: 25px;
}

section {
  /* margin-top: 35px; */
  width: 100%;
}

section#form {
  box-sizing: border-box;
  width: 90%;
  /* margin: auto; */
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}

form div {
  width: 82%;
  position: relative;
  margin: auto;
  display: inline-block;
}

input {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  /* border: none; */
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: -webkit-fill-available;
}

select {
  padding: 1rem 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  border-left: solid 1px rgba(0, 0, 0, 0.15);
  /* text-align: center; */
}
select,
option {
  /* color: blue; */
  font-weight: 700;
}

input:hover,
form button:hover {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

input:focus,
form button:focus {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
}

label,
form button {
  color: white;
  font-weight: bold;
}
form button {
  background-color: blueviolet;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: bold;
  color: white;
  display: inline-block;
  cursor: pointer;
}

form button:focus {
  background-color: purple;
}

iframe {
  border-radius: 10px;
  max-width: 90%;
  aspect-ratio: 750/450;
  height: auto;
}

#download {
  background-color: whitesmoke;
  border-radius: 10px;
  max-width: 750px;

  margin-right: auto;
  margin-left: auto;

  padding: 25px 25px 20px 25px;
  text-align: left;

  display: none;
  box-sizing: border-box;
  width: 90%;
}

#download a {
  background-color: violet;
  padding: 1rem 1.3rem;
  border: 1px solid transparent;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  /* display: inline-block; */
  cursor: pointer;
  text-decoration: none;
}

#download a:hover {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#download a:focus {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

#download #qualities {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  padding: 10px;
}

@media (max-width: 550px) {
  .container {
    flex-direction: column-reverse;
    gap: 15px;
  }
  form {
    width: 100%;
    margin: auto;
  }
  form div {
    width: 100%;
    margin-bottom: 10px;
  }
  select {
    padding: 1rem 0.2rem;
  }
  form button {
    display: block;
    margin-left: auto;
  }

  iframe {
    margin-bottom: 0;
  }

  #player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}
