* {
  box-sizing: border-box;
}

body {
  width: 100px;
}

#dialog-box {
  text-align: center;
  /* font-size: ; */
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
